@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
    text-align: center;
}

.headingStyle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #25a2c3;
    line-height: 1;
}

.white {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 32px;
}

#logo {
    background-color: black;
    text-align: center;
}

#logo img {
    width: 130px;
    text-align: center;
    margin: 1.5em auto;
}

/* banner iniziale */

#corsoWebDeveloper {
    background-image: url(../img/banner.jpg);
    background-position: top;
    background-size: cover;
    padding: 2em;
}

#title {
    padding-bottom: 1em;
}

#ancora a {
    background-color: orangered;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 0.8em 1.5em;
    border-radius: 5px;
}

/* prima sezione */

#primaSezione {
    padding: 2em;
}

.roleDescription {
    margin-bottom: 2em;
    line-height: 1;
}

#roundImage img {
    border-radius: 50%;
    width: 500px;
}
/* citazione centrale */

#quote {
    display: block;
    background-color: orangered;
    padding: 2em;
}

#quote figure {
    color: white;
}

#quote figure blockquote {
    margin: 2em auto;
}

#quote figure figcaption span {
    font-size: 12px;
}
/* seconda sezione con box */

.smallContainer {
    width: 90%;
    border: 1px solid lightgrey;
    border-radius: 0 0 5px 5px;
    margin: 2em auto;
}

.smallContainer img {
    width: 100%;
}

.smallContainer p {
    padding: 0 20px 20px 20px;
}

/* footer */

#footer {
    background-color: #25a2c3;
    padding: 2em;
    color: white;
}

#contattaci p {
    color: white;
    margin: 0 auto;
    line-height: 1.5;
    font-style: normal;
}

#contattaci p a {
    color: white;
    font-weight: 400;
}

#contattaci hr {
    color: white;
    max-width: 50%;
    margin: 30px auto;
}

#googleMaps {
    margin: 20px;
}